<div class="container">
  <h2 class="mt-6">サインアップ</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username %><br/>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input is-primary fa", placeholder: "\uF007 かずひろ" %>
    </div>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-primary fa", placeholder: "\uF0E0 eee@example.com" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "new-password", class: "input is-primary fa", placeholder: "\uF084" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-primary fa", placeholder: "\uF084" %>
    </div>
    <div class="columns mt-3 ml-1 mr-3">
      <div class="actions mr-2">
        <%= f.submit "サインアップ", class: "button is-primary" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>