<div>
  <%= "全ユーザー" %>
  <%= User.all.size %>
  <%= "人" %>
</div>
<% User.all.each do |user| %>
  <div>
    <%= link_to user.username, [user] %>
  </div>
<% end %>
<hr>
<% if user_signed_in? %>
  <%= "ログイン中ユーザー：" %>
  <%= current_user.username %>
<% end %>

<div>
  <ul>
    <li>
      <%= link_to '写真投稿', [:new, :photo], class: 'button is-black' %>
    </li>
    <li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>

<hr>
<%= "タイムライン" %>
<% @feeds.each do |photo| %>
  <div class="card mb-4">
    <div>
      <%= link_to photo.user.username, [photo.user] %>
    </div>
    <div class="card-image">
      <figure class="image">
        <%= link_to [photo] do %>
          <%= image_tag photo.image %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div>
        <%= photo.caption %>
      </div>
    </div>
  </div>
  <hr>
<% end %>